body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: left;
    background-color: #343a40;
    margin: 0;
}

video {
    background-color: black;
}

.center {
    margin-inline: auto;
    width: 100%;
}

.m3u8-input {
    display: flex;
    gap: 1rem;
    margin-block: 1.25rem;
}
.m3u8-input > input {
    flex-grow: 1;
}

.container {
    max-width: 48rem;
}

.button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.button {
    background-color: #007bff;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #007bff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.d-none {
    display: none;
}
